<div class="container">
  <h2>My Heroes</h2>
  <ul class="list-group list-group-flush">
    <div *ngFor="let hero of heroes"
         class="row pb-1">
      <div class="col-1 rounded-left" style="background-color:#9090ee">
        <div style="margin: auto; margin-top: 5px; padding: auto; text-align: center" class="text-white">{{hero.id}}</div>
      </div>
      <div class="col-11 list-group-item-action " style=" padding: 0">
        <li
          class="list-group-item list-group-item-action list-group-item-light list-group-item-lightgreen">
          <a routerLink="/detail/{{hero.id}}">
            <span class="badge hero">{{hero.name }}</span>
          </a>
        </li>
      </div>
    </div>
  </ul>
</div>
